<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('product_home') }}">Mon Site</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="{{ path('product_home') }}">Accueil</a>
        <a class="nav-link" href="{{ path('product_about') }}">A propos</a>
        <a class="nav-link" href="{{ path('send_mail') }}">Contact</a>
        <ul class="navbar-nav ">
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Catégories
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for cat in app.session.get('category') %} 
              <li><a class="dropdown-item" href="{{ path('category_item', {'id': cat.id}) }}">{{ cat.name }}</a></li>
            {% endfor %}
              {# <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li> #}
              
            </ul>
           
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Administration  
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown"> 
              {% if not app.user %}  
                <li><a class="dropdown-item" href="{{ path('login')}}">Connection</a></li>
              {% else %}
                <li><a class="dropdown-item" href="{{ path('login')}}">Connection</a></li>
                <li><a class="dropdown-item" href="{{ path('user_new')}}">Inscription</a></li>
                <li><a class="dropdown-item" href="{{ path('logout')}}">Déconnexion</a></li>
              {% endif %}
              </ul>
            </li>          
        </ul>
      </div>
    </div>
  </div>
</nav>